*{margin: 0;
padding: 0;
box-sizing: border-box;}

header{width: 100%;
height: 50px;
background-color: #FF9a4b}


main{width: 960px;
margin: 50px auto 50px;
display: flex;
justify-content: center;}

.sec1{width: 300px;
background-color: #EEEEEE;
padding: 10px 10px 0 10px;
position: relative;}

.sec1:nth-child(2){margin: 0 30px 0 30px;
}

.main-text{margin-top: 5px;
}

span{color: white;
background-color: #FF9a4b;
position: absolute;
top: 0;
left: 0;
padding: 3px;}


.img {height: 150px;
background-size: cover;
margin-bottom: 15px;
background-position: bottom;
background-image: url(img/flow01.png);}


.img2 {height: 150px;
  background-size: cover;
  margin-bottom: 15px;
  background-position: bottom;
  background-image: url(img/flow02.png);}

  
  .img3 {height: 150px;
    background-size: cover;
    margin-bottom: 15px;
    background-position: bottom;
    background-image: url(img/flow03.png);}
    




footer{width: 100%;
height: 50px;
background-color: #AAAAAA}